.footer {
    background-color: var(--bg);

    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;

    padding: 0 60px;

    display: flex;
    align-items: center;
}

.footer__context {
    color: var(--f-color-disable);

    font-size:   13px;
    line-height: 15px;
    font-weight: 300;
    text-transform: uppercase;
}