:root {
    --f-size: 17px;
    --f-line-height: 20px;
    --f-family-main: 'Gilroy';
    --f-family-add: 'Roboto';

    --f-color: #262525;
    --f-color-disable: #505050;
    --f-color-accent: #D88F5E;

    --bg: #fff;
    --bg-alt: #F0F0F0;
    --bg-accent: #EBD8CC;

    --container-w: 1800px;
}


* {
    color:       var(--f-color);
    font-size:   var(--f-size);
    font-family: var(--f-family-main);
    line-height: var(--f-line-height);
}

a {
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 97%;
    max-width: var(--container-w);
    margin: auto;
}

.main {
    display: flex;
    height: 100%;
}
