:root {
    --f-size: 17px;
    --f-line-height: 20px;
    --f-family-main: 'Gilroy';
    --f-family-add: 'Roboto';

    --f-color: #262525;
    --f-color-disable: #505050;
    --f-color-accent: #D88F5E;

    --bg: #fff;
    --bg-alt: #F0F0F0;
    --bg-accent: #EBD8CC;
}


* {
    color:       var(--f-color);
    font-size:   var(--f-size);
    font-family: var(--f-family-main);
    line-height: var(--f-line-height);

    transition-timing-function: ease;
}

a {
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
}

body {
    max-width: 100vw;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 3.125vw;
}


